.about {
    max-width: 80%;
    margin: 50px auto;
}
.about  h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    margin: 20px 0;
}
.about  h2 {
    color: #919191;
    font-size: 20px;
    font-weight: 275;
    line-height: 58px;
}
.about  h3 {
    color: #919191;
    font-weight: 275;
    font-size: 25px;
    line-height: 38.4px;
    margin: 30px 0;
}
.about p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 40px 0;
}
.about h4 {
    font-size: 18px;
    margin: 20px 0;
    line-height: 34.8px;
}
.about h5 {
    font-size: 15px;
    line-height: 33.6px;
    
}